[Unit]
Description=Raspberry Pi Webserver
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/krishnan/PiWebServer
ExecStart=/home/krishnan/PiWebServer/venv/bin/python /home/krishnan/PiWebServer/main.py
User=krishnan
Group=krishnan

[Install]
WantedBy=multi-user.target
