[Unit]
Description=Serveo Connection
After=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStartPre=/bin/sh -c 'until host serveo.net; do sleep 1; done'
ExecStart=ssh -o ServerAliveInterval=60 -o ServerAliveCountMax=10 -R krishnans2006:80:127.0.0.1:5000 -R krishnans2006:22:localhost:22 serveo.net
User=krishnan
Group=krishnan

[Install]
WantedBy=multi-user.target
